body {
    background-color:#2a2a2a;
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    color: aliceblue;
}
div {
    --link-separator: '|';
    --text-color: white;
  }

ul{
    list-style: none;
}
li {
    display:inline; 
}

#doormat-img{
    margin-top: 50px;
    margin-bottom: 20px;
}


a + a:before {
    content: var(--link-separator);
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    color: var(--text-color);
  }
